* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.games {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game {
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin: 10px 0;
  padding: 20px;
}

.teams {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 25px 0;
}

.team {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.logo {
  margin-right: 15px;
}

.team-name {
  margin-right: 50px;
  font-size: 24px;
}
.scores {
  border-right: 1px solid #ccc;
  margin-right: 25px;
  padding-right: 30px;
}

.scores p {
  font-size: 24px;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock p {
  text-align: center;
}
